{% extends template('page-layout-company', 'CompanyPage') %}

{% define data = {
    form: _view.form,
    costCenter: _view.costCenter,
    title: 'purchasing_control.budget.update.title' | trans,
    activePage: 'cost-center',
    currentBreadcrumb: 'purchasing_control.budget.update.title',
} %}

{% block companyContent %}
    <div class="box">
        {% block form %}
            {% include molecule('budget-form', 'PurchasingControl') with {
                data: {
                    form: data.form,
                    formAction: url('company/cost-center/budget/update', { budgetUuid: data.form.vars.data.uuid, costCenterUuid: data.costCenter.uuid }),
                    costCenterUuid: data.costCenter.uuid,
                },
            } only %}
        {% endblock %}
    </div>
{% endblock %}
